#!/bin/bash

# Function to check if a command exists
command_exists() {
    command -v "$1" >/dev/null 2>&1
}

# Ensure Python 3.11 is installed
if ! command_exists python3.11; then
    echo "Python 3.11 is not installed. Please install it and try again."
    exit 1
fi

# Ensure pip is installed
if ! command_exists pip; then
    echo "pip is not installed. Please install it and try again."
    exit 1
fi

# Check if virtual environment is already activated
if [ -z "$VIRTUAL_ENV" ]; then
    # Check if .venv directory exists
    if [ ! -d ".venv" ]; then
        echo "Creating virtual environment..."
        # Create a new virtual environment if .venv doesn't exist
        if ! python3.11 -m venv .venv; then
            echo "Failed to create virtual environment."
            exit 1
        fi

        echo "Installing Python dependencies..."
        # Install Python dependencies
        if ! pip install -r services/restapi/requirements.txt; then
            echo "Failed to install dependencies."
            exit 1
        fi

        # Compile restapi module
        if ! pip install -e services/restapi; then
            echo "Failed to compile restapi module."
            exit 1
        fi

    fi

    echo "Activating virtual environment..."
    # Activate the virtual environment
    if ! source .venv/bin/activate; then
        echo "Failed to activate virtual environment."
        exit 1
    fi

else
    echo "Virtual environment already activated."
fi

echo "Setup completed successfully."
