{% extends 'game/base.html' %}
{% block content %}
    <header class="px-6 py-10 lg:py-20 min-h-[75vh] bg-[#f68f78] flex flex-col justify-center">
        <div class="max-w-3xl mx-auto text-center">
            <p class="mb-20 text-7xl text-[white]">Guestready Challenge</p>
            <!-- Form to trigger API call to import game data -->
            <form id="getGameDataForm"
                  hx-get="{% url 'import_games' %}"
                  hx-target="#getGameDataForm"
                  hx-on:click="document.getElementById('submitButton').innerHTML = '<span class=\'loading loading-spinner\'></span> loading';"
                  hx-swap="OuterHTML">
                {% csrf_token %}
                <div class="mb-10">
                    <button type="submit"
                            id="submitButton"
                            class="btn btn-primary btn-lg bg-white border-none rounded-box text-[#71192e] hover:bg-[#71192e] hover:text-white">
                        <span id="buttonText">Get Game Data</span>
                    </button>
                </div>
            </form>
            <!-- Form to send all games to FASTAPI service -->
            <form id="sendAllGamesForm"
                  hx-post="{% url 'post_games' %}"
                  hx-target="#sendAllGamesForm"
                  hx-on:click="document.getElementById('sendButton').innerHTML = '<span class=\'loading loading-spinner\'></span> sending';"
                  hx-swap="OuterHTML">
                {% csrf_token %}
                <div class="mb-10">
                    <button type="submit"
                            id="sendButton"
                            class="btn btn-primary btn-lg bg-white border-none rounded-box text-[#71192e] hover:bg-[#71192e] hover:text-white">
                        <span id="sendButtonText">Send All Games</span>
                    </button>
                </div>
            </form>
        </div>
    </header>
{% endblock %}
